doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/style.css')
    title Courses
  body
    h1 Admin page
    h2 Add courses
    form(action="/add" class="add" method="POST")
      label(for="title") Title:
      input(id="title" name="title" placeholder="Enter title")
      label(for="description") Description:
      input(id="description" name="description" placeholder="Enter Description")
      label(for="price") Price:
      input(type="number", min="1", id="price" name="price" placeholder="Enter price")
      label(for="img") Link for image:
      input(id="img" name="link" placeholder="Enter image link")
      button(type="submit") Add Course
    h2(class="corses-list") All courses
  