<!-- Template-driven forms -->


<!-- <div class="wrapper">
  <form>
      <div class="form-item">
          <label for="login">Login</label>
          <input id="login" placeholder="Your Login..." name="login" ngModel #login="ngModel"
          required minlength="1" pattern="[a-zA-Z0-9]+"
          >
            <p *ngIf="login.invalid && login.touched && login.errors?.['required']">The field must not be empty</p>
            <p *ngIf="login.invalid && login.touched && login.errors?.['minlength']">
  The name must contain more than {{login.errors?.['minlength']['requiredLength']}} characters.
</p>
            <p *ngIf="login.invalid && login.touched && login.errors?.['pattern']">Only latin letters are allowed</p>
      </div>

      <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." name="email" ngModel
          #email="ngModel" required email
          >
            <p *ngIf="email.invalid && email.touched">Enter correct email</p>
      </div>

      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" placeholder="Your password..." name="password" ngModel #passwordInput="ngModel"
               required minlength="7" pattern="[a-zA-Z0-9]+">
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
          <p *ngIf="passwordInput.errors?.['required']">Password is required.</p>
          <p *ngIf="passwordInput.errors?.['minlength']">
            Password should be at least {{ passwordInput.errors?.['minlength']?.['requiredLength'] }} characters long.
            You entered {{ passwordInput.errors?.['minlength']?.['actualLength'] }} characters.
          </p>
          <p *ngIf="passwordInput.errors?.['pattern']">Password should contain only letters and numbers.</p>
        </div>
      </div>
      
      <button type="submit">Submit</button>
  </form>
</div> -->


<!-- Reactive forms -->

<div class="wrapper">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-item">
          <label for="login">Login</label>
          <input placeholder="Your Login..." formControlName="login" >
          <div *ngIf="myForm.get('login')?.invalid && (myForm.get('login')?.dirty || myForm.get('login')?.touched)" >
            <div *ngIf="myForm.get('login')?.hasError('required')" class="error-text">Login is required.</div>
            <div *ngIf="myForm.get('login')?.hasError('pattern')" class="error-text">
                Login should contain only letters and numbers without spaces.
            </div>
          </div> 
      </div>

      <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." formControlName="email">
          <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
            <div *ngIf="myForm.get('email')?.hasError('required')" class="error-text">Email is required</div>
            <div *ngIf="myForm.get('email')?.hasError('email')" class="error-text">
                Invalid email format.
            </div>
            <div *ngIf="emailAlreadyExist" class="error-text">This email address already exists.</div>
          </div>
      </div>

      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" placeholder="Your password..." formControlName="password">
        <div *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
            <div *ngIf="myForm.get('password')?.hasError('required')" class="error-text">Password is required.</div>
            <div *ngIf="myForm.get('password')?.hasError('minlength')" class="error-text">
                Password shuold be at least 7 characters long.
            </div>
            <div class="error-text">{{passwordLength}} characters entered</div>
        </div>
    </div>
      <button type="submit">Submit</button>
  </form> 
</div>