.wrapper{
    min-height: 100vh;
    background-color: #2f393d;
    padding: 10px;
}
.popup{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}