@import 'normalize.css';
.first .sec .Bt3, .first .sec .Bt2, .first .sec .Bt1 {
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

#root {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
  max-width: 1272px;
}

.first {
  background-color: aqua;
}
.first .sec {
  background-color: green;
}
.first .sec .firSec {
  background-color: purple;
}
.first .sec .Bt2 {
  color: aqua;
}
.first .sec .Bt3 {
  background-color: aquamarine;
}

.card {
  padding: 2em;
}