@import 'normalize.css';
.section2 .textSec2 h2, .introText .intro h2, .section1 .textSection1 .textSection1_h1, .header .divButton .J_button, .header .divButton .C_button, .header .navigation a, .secInfo .secInfoR .secInfoRtext .secInfoRtextU, .secInfo .secInfoC .secInfoCtext .secInfoCtextU, .secInfo .secInfoL .secInfoLtext .secInfoLtextU, .section2 .textSec2 button, .section1 .textSection1 .imgButt .imgButtA {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.section2 .textSec2 h3, .introText .text p, .section1 .textSection1 .textSection1_h2, .secInfo .secInfoR .secInfoRtext .secInfoRtextD, .secInfo .secInfoC .secInfoCtext .secInfoCtextD, .secInfo .secInfoL .secInfoLtext .secInfoLtextD {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

.section2 .textSec2 h2 span, .introText .intro h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}

.header .divButton .J_button, .header .divButton .C_button, .section2 .textSec2 button, .section1 .textSection1 .imgButt .imgButtA {
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 15px;
}

.section2 .textSec2 button, .section1 .textSection1 .imgButt .imgButtA {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
}

.section1 .imgSectionR .Mask_girl_background {
  position: absolute;
  z-index: 1;
  width: 524px;
  height: 455px;
  left: 832px;
  top: 256px;
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
}

.section1 .imgSectionR .Mask_girl {
  position: absolute;
  width: 490px;
  height: 426px;
  left: 848px;
  top: 270px;
  z-index: 2;
}

.section1 .imgSectionR .Vector1 {
  position: absolute;
  width: 414px;
  height: 669px;
  left: 1023px;
  top: 170px;
}

.section1 .imgSectionR .Vector2 {
  position: absolute;
  width: 377px;
  height: 845px;
  left: 929px;
  top: 0px;
}

.section1 .imgSectionR .Vector3 {
  position: absolute;
  width: 735.03px;
  height: 419.32px;
  left: 707.47px;
  top: 419.18px;
}

.section1 .imgSectionR .Vector4 {
  position: absolute;
  width: 238.07px;
  height: 561px;
  left: 2.5px;
  top: 274px;
}

.secInfo .secInfoLine2, .secInfo .secInfoLine1 {
  width: 0px;
  height: 116.5px;
  border: 1px solid rgba(192, 183, 232, 0.33);
}

.secInfo .secInfoR .secInfoRtext, .secInfo .secInfoC .secInfoCtext, .secInfo .secInfoL .secInfoLtext {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.secInfo .secInfoR .secInfoRtext .secInfoRtextU, .secInfo .secInfoC .secInfoCtext .secInfoCtextU, .secInfo .secInfoL .secInfoLtext .secInfoLtextU {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #FFFFFF;
}

.secInfo .secInfoR .secInfoRtext .secInfoRtextD, .secInfo .secInfoC .secInfoCtext .secInfoCtextD, .secInfo .secInfoL .secInfoLtext .secInfoLtextD {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #FFFFFF;
}

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1272px;
  height: 102px;
}

.header {
  margin-top: 55px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logoImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logoImg .lodoUP {
  margin-right: 15px;
  position: relative;
  top: 9px;
}
.header .navigation {
  width: 387px;
  display: flex;
  justify-content: space-between;
}
.header .navigation a {
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}
.header .divButton {
  width: 347px;
  display: flex;
  justify-content: space-between;
}
.header .divButton .C_button {
  width: 155px;
  height: 48px;
  border: 2px solid #FFFFFF;
  background-color: #343045;
  color: #FFFFFF;
}
.header .divButton .J_button {
  width: 155px;
  height: 48px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
}

.section1 {
  display: flex;
  justify-content: space-between;
}
.section1 .textSection1 {
  margin-top: 146px;
}
.section1 .textSection1 .textSection1_h1 {
  margin: 0;
  text-align: left;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}
.section1 .textSection1 .textSection1_h1 .textSection1_h1_s1 {
  font-size: 46px;
  line-height: 56px;
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section1 .textSection1 .textSection1_h1 .textSection1_h1_s2 {
  font-size: 46px;
  line-height: 56px;
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section1 .textSection1 .textSection1_h2 {
  margin-bottom: 0;
  margin-top: 36px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.section1 .textSection1 .imgButt {
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 325px;
}
.section1 .textSection1 .imgButt .imgButtA {
  width: 214px;
  height: 48px;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.section1 .imgSectionR {
  position: relative;
  width: 816px;
  left: -558px;
  top: -195px;
}
.secInfo {
  width: 1272px;
  height: 167px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
  margin-top: 103px;
  position: relative;
  display: flex;
  align-items: center;
}
.secInfo .secInfoL {
  display: flex;
  margin: 0 42.5px 0 39px;
}
.secInfo .secInfoL .secInfoLimg {
  width: 70px;
  height: 70px;
}
.secInfo .secInfoL .secInfoLimg img {
  width: 70px;
  height: 70px;
}
.secInfo .secInfoL .secInfoLtext .secInfoLtextD {
  padding-top: 10px;
}
.secInfo .secInfoC {
  display: flex;
  margin: 0 66px 0 47.5px;
}
.secInfo .secInfoC .secInfoCimg {
  width: 59px;
  height: 59px;
  margin-right: 29px;
}
.secInfo .secInfoC .secInfoCimg img {
  width: 59px;
  height: 59px;
}
.secInfo .secInfoC .secInfoCtext .secInfoCtextD {
  padding-top: 9px;
}
.secInfo .secInfoR {
  display: flex;
  margin-left: 50px;
}
.secInfo .secInfoR .secInfoRimg {
  width: 65px;
  height: 65px;
}
.secInfo .secInfoR .secInfoRimg img {
  width: 65px;
  height: 65px;
}
.secInfo .secInfoR .secInfoRtext {
  margin-left: 23px;
}
.secInfo .secInfoR .secInfoRtext .secInfoRtextD {
  padding-top: 9px;
}

.introText {
  display: flex;
  margin-top: 85px;
}
.introText .intro h2 {
  margin: 0;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 44px;
}
.introText .intro h3 {
  margin: 10px 0 0 0;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 44px;
}
.introText img {
  width: 228px;
  height: 100px;
  padding-top: 20px;
}
.introText .text {
  width: 650px;
  height: 98px;
  margin-left: auto;
}
.introText .text p {
  color: #FFFFFF;
  text-align: left;
  margin: 0;
}

.section2 {
  margin-top: 79px;
  display: flex;
}
.section2 .imgBack {
  position: relative;
}
.section2 .imgBack img:first-child {
  position: absolute;
  width: 524px;
  height: 557px;
  z-index: 2;
}
.section2 .imgBack img:nth-child(2) {
  position: relative;
  height: 256.68px;
  width: 1449px;
  left: -6.5px;
  z-index: 1;
}
.section2 .imgBack img:last-child {
  margin-top: 28.82px;
  height: 211.75px;
  width: 1445px;
  position: relative;
  left: -4.5px;
  z-index: 1;
}
.section2 .textSec2 {
  position: relative;
}
.section2 .textSec2 h2 {
  margin: 42px 0;
  position: relative;
  left: -725px;
  z-index: 3;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.section2 .textSec2 h2 span {
  font-size: 36px;
  line-height: 44px;
}
.section2 .textSec2 h3 {
  position: relative;
  left: -726px;
  z-index: 3;
  font-size: 16px;
  line-height: 20px;
  width: 630px;
  height: 228px;
  color: #FFFFFF;
  margin: 50px 0 28px 0;
}
.section2 .textSec2 button {
  position: relative;
  left: -726px;
  width: 214px;
  height: 48px;
}