@import 'normalize.css'; 
@import 'Templates.scss';
#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  max-width: 1272px;
  height: 102px;
}
.header{
  margin-top: 55px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logoImg{
    display: flex;
    align-items: center;
    justify-content: center;
    .lodoUP{
      margin-right: 15px;
      position: relative;
      top: 9px;
    }
  }
  .navigation{
      width: 387px;
      display: flex;
      justify-content: space-between;
      a{
        color: #FFFFFF;
        outline: none;
        text-decoration: none;
        @extend %Montserrat_Bold_700;
        font-size: 12px;
        line-height: 15px;
      }
  }
  .divButton{
    width: 347px;
    display: flex;
    justify-content: space-between;
    .C_button{
      width: 155px;
      height: 48px;
      @extend %hedButton, %Montserrat_Bold_700;
      border: 2px solid #FFFFFF;
      background-color: $mainCol;
      color: #FFFFFF;
    }
    .J_button{
      width: 155px;
      height: 48px;
      @extend %hedButton, %Montserrat_Bold_700;
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
      color: $mainCol;
    }
  }
}
.section1{
  display: flex;
  justify-content: space-between;
  .textSection1{
    margin-top: 146px;
    .textSection1_h1{
      margin: 0;
      text-align: left;
      @extend %Montserrat_Bold_700;
      font-size: 40px;
      line-height: 49px;
      color: #FFFFFF;
      .textSection1_h1_s1{
        font-size: 46px;
        line-height: 56px;
        background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        } 
      .textSection1_h1_s2{
        font-size: 46px;
        line-height: 56px;
        background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .textSection1_h2{
      margin-bottom: 0;
      margin-top: 36px;
      text-align: left;
      @extend %Montserrat_Regular_400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;

    }
    .imgButt{
      margin-top: 40px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 325px;
      .imgButtA{
        width: 214px;
        height: 48px;
        @extend %TipicalButton;
        text-align: center;
        align-items: center;
        text-decoration: none;
      }
    }
  }
  .imgSectionR{
    position: relative;
    width: 816px;
    left: -558px;
    top: -195px;
    .Mask_girl_background{
      @extend %Mask_girl_background;
    }
    .Mask_girl{
      @extend %Mask_girl;
    }
    .Vector1{
      @extend %Vector1;
    }
    .Vector2{
      @extend %Vector2;
    }
    .Vector3{
      @extend %Vector3;
    }
    .Vector4{
      @extend %Vector4;
    }
  }
}
.secInfo{
  width: 1272px;
  height: 167px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
  margin-top: 103px;
  position: relative;
  display: flex;
  align-items: center;
.secInfoL{
  display: flex;
  margin: 0 42.5px 0 39px;
  .secInfoLimg{
    width: 70px;
    height: 70px;
    img{
      width: 70px;
      height: 70px;
    }
  }
  .secInfoLtext{
    @extend %secInfo_X_text;
    .secInfoLtextU{
      @extend %secInfo_X_textU;
    }
    .secInfoLtextD{
      @extend %secInfo_X_textD;
      padding-top: 10px;
    }
  }
}
  .secInfoLine1{
  @extend %Line1Block;
  }
  .secInfoC{
    display: flex;
    margin: 0 66px 0 47.5px;
    .secInfoCimg{
      width: 59px;
      height: 59px;
      margin-right: 29px;
      img{
        width: 59px;
        height: 59px;
      }
    }
    .secInfoCtext{
      @extend %secInfo_X_text;
      .secInfoCtextU{
        @extend %secInfo_X_textU;
      }
      .secInfoCtextD{
        @extend %secInfo_X_textD;
        padding-top: 9px;
      }
    }
  }
  .secInfoLine2{
    @extend %Line1Block;
  }
  .secInfoR{
    display: flex;
    margin-left: 50px;
    .secInfoRimg{
      width: 65px;
      height: 65px;
      img{
        width: 65px;
        height: 65px;
      }
    }
    .secInfoRtext{
      @extend %secInfo_X_text;
      margin-left: 23px;
      .secInfoRtextU{
        @extend %secInfo_X_textU;
      }
      .secInfoRtextD{
        @extend %secInfo_X_textD;
        padding-top: 9px;
      }
    }

  }


}
.introText{

  display: flex;
  margin-top: 85px;
  .intro{
    h2{
      margin: 0;
      @extend %Montserrat_Bold_700;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 44px;
    }
    h3{
      margin: 10px 0 0 0;
      padding-right: 30px;
      @extend %Montserrat_Regular_300;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 44px;
      width: 251px;
    }
  }
  img{
    width: 228px;
    height: 100px;
    padding-top: 20px;
    position: relative;
    left: -16px;

  }
  .text{
    width: 650px;
    height: 98px;
    margin-left: auto;
    p{
      @extend %Montserrat_Regular_400;
      color: #FFFFFF;
      text-align: left;
      margin: 0;
    }
  }
}
.section2{
  margin-top: 69px;
  display: flex;
  height: 557px;
  .imgBack{
    position: relative;
    img:first-child {
      position: absolute;
      width: 524px;
      height: 557px;
      z-index: 2;
    }
    img:nth-child(2){
      position: relative;
      height: 256.68px;
      width: 1449px;
      left: -6.5px;
      z-index: 1;
    }
    img:last-child{
      margin-top: 28.82px;
      height: 211.75px;
      width: 1445px;
      position: relative;
      left: -4.5px;
      z-index: 1;

    }
  }
  .textSec2{
    position: relative;
    h2{
      margin: 42px 0;
      position: relative;
      left: -725px;
      z-index: 3;
      @extend %Montserrat_Bold_700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      span{
        @extend %Montserrat_Regular_300;
        font-size: 36px;
        line-height: 44px;
      }
    }
    h3{
      position: relative;
      left: -726px;
      z-index: 3;
      @extend %Montserrat_Regular_400;
      font-size: 16px;
      line-height: 20px;
      width: 630px;
      height: 228px;
      color: #FFFFFF;
      margin: 42px 0 28px 0;
    }
    button{
      position: relative;
      left: -726px;
      width: 214px;
      height: 48px;
      @extend %TipicalButton;
      
    }
  }
}
.introText1{

  display: flex;
  margin-top: 85px;
  .intro{
    width: 259px;
    margin-right: 16px;
    h2{
      margin: 0;
      @extend %Montserrat_Bold_700;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 44px;
    }
    h3{
      margin: 10px 0 0 0;
      @extend %Montserrat_Regular_300;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 44px;
    }
  }
  img{
    width: 228px;
    height: 100px;
    padding-top: 20px
  }
  .text{
    width: 650px;
    height: 98px;
    margin-left: auto;
    p{
      @extend %Montserrat_Regular_400;
      color: #FFFFFF;
      text-align: left;
      margin: 0;
    }
  }

}