@import 'normalize.css'; 
@import 'Templates.scss';
#root {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
  max-width: 1272px;

}
.first{
  background-color: aqua;
  .sec{
    background-color: green;
    .firSec{
      background-color: $primCol;
    }
  }
}
.card {
  padding: 2em;
}