/*NULL*/
h1,h2,h3,p{margin: 0;}
/*NULL*/

.wrapper{
    max-width: 670px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #46b1de;
    margin-bottom: 15px;
}
.article{
    background-color: olivedrab;
}
.article__title{
    margin-bottom: 10px;
}
.article__title h2{
    text-align: center;
}