/*NULL*/
h1,h2,h3,p{margin: 0;}
/*NULL*/

.wrapper{
    max-width: 670px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #46b1de;
    margin-bottom: 15px;
}
.article{
    background-color: olivedrab;
}
.article__title{
    margin-bottom: 10px;
}
.article__title h2{
    text-align: center;
}

.article__top{
    padding: 0 5px;
}
.article__body{
    border: 4px solid black;
    padding: 5px;
    margin-right: 3px;
}
.article__button{
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
}
.Abutton{
    font-weight: 900;
    background-color: orange;
    border: none;
    border-radius: 3px;
    height: 30px;
}
.Abutton span{
    margin: 0 15px;
}
.article__author{
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: space-between;


}
.article__author div{
    font-weight: 700;
    padding-bottom: 5px;

}